# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore all C files as they're auto generated
*.c
*.h

# ignore jetbrains folder
.idea
.idea/*

cmake-build-debug
biflex.output
